/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

.homepage_bg{
    background: url("../src/assets/Images/bghome.svg")
}